# Python cache and compiled files
*/__pycache__/
*.pyc

# Image output
*.png

# JSON metadata
*.json
*.tar.gz
# macOS metadata
*/.DS_Store
*.DS_Store

# Font files (local use only, avoid pushing large binaries)
*.ttf
*.otf
*.ttc

